*.zip
*.dll
rdiatar64
rdiaeditor64
rdiatar
rdiaeditor
diaeditor
diaeditor64
diatar
diatar64
Thumbs.db

backup/**
DTXs/**
android/**
deb/**
Diatarikon/**
include/**
jelszavak/**
kottajelek/**
lib/**
lock/**
menuikon/**
obj*/**
old/**
openssl/**
ordinariumok/**
portkezeles/**
DIA/**
readme/**
sndfile/**
uoslib/**
ujikon/**
LinuxAudio/**
Diatar.app/**
InnoSetup/**
Reg/**
SJ*/**
Setup/**
xmailer/**
ZsolozsmaDia/**
Bernat.doc
cimek.txt
*.compiled
*.dbg
*.exe
Kihasznalja.txt
kikapott.txt
pickartya.ppt
r.inc
README.GenLinux
READMEwin.txt
todo.txt
tutors.txt
